<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="/usuario/agregar">Crear usuario</a>
    <br>
    <a href="/usuario/actualizar">Actualizar usuario</a>
    <br>
    <a href="/usuario/eliminar">Eliminar usuario</a>
    <br>
    <a href="/usuario/leer">Ver usuarios</a>
    <br>
    <a href="/pelicula/agregar">Crear película</a>
    <br>
    <a href="/pelicula/actualizar">Actualizar película</a>
    <br>
    <a href="/pelicula/eliminar">Eliminar película</a>
    <br>
    <a href="/pelicula/leer">Ver películas</a>
    <br>
    <a href="/renta/agregar">Crear renta</a>
    <br>
    <a href="/renta/actualizar">Actualizar renta</a>
    <br>
    <a href="/renta/leer">Ver rentas</a>
    <br>

</body>
</html>